.containerPages {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 98.8vw; /* Garante que a largura não exceda o viewport */
    width: 100vw; /* Faz com que a largura ocupe todo o viewport */
    height: auto; /* Ajusta a altura conforme o conteúdo */
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total do contêiner */
    margin: 0;
    overflow-x: hidden; /* Evita a rolagem lateral */
}


@media screen and (max-width: 767px) {
    .containerPages {
        max-width: 96.6vw;
        width: 100vw; /* Usa toda a largura da tela */
    }
}
