footer {
  background-color: #B0BEC5;
  position: absolute;
  width: 100%;
}

.icon {
  font-size: 30px;
  color: #000; /* Azul Gelo */
}

.icon:hover {
  color: #003466;
  transition: color .2s ease-in-out;
}

.text-body-secondary a {
  color: #000; /* Cinza Aço */
  text-decoration: none;
  transition: color 0.2s ease;
}

.text-body-secondary a:hover {
  color: #003466; /* Azul Profundo */
  text-decoration: none;
}
