#sobre {
  text-align: center;
  display: flex; /* Adicionado para flexbox */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 90vh; /* Altura de 90% da viewport */
  width: 100%;
  padding: 0 15px; /* Adiciona padding lateral para espaçamento */
}

/* Estilos para o bloco de informações */
.info {
  margin: 0; /* Remove margens para alinhamento melhor */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify; /* Justifica o texto dentro do bloco */
  gap: 10px; /* Espaçamento entre parágrafos */
}

.logo {
  margin-bottom: 20px;
  border: 5px solid #F56300; 
  border-radius: 8px; /* Arredonda os cantos da borda */
  object-fit: cover; /* Ajusta a imagem dentro do contêiner */
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

/* Ajustes para telas menores */
@media (max-width: 900px) {
  #sobre {
    flex-direction: column; /* Muda a direção do flexbox para coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: auto; /* Ajusta a altura para caber no conteúdo */
  }

  .info {
    margin: 20px 0; /* Ajusta a margem superior e inferior */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dentro do bloco */
  }

  .info p {
    max-width: 300px; /* Limita a largura dos parágrafos para telas menores */
  }
}
