<div id="servicos" class="services py-5">
  <div class="container">
    <h1 class="text-center mb-4">NOSSOS SERVIÇOS</h1>
    <div class="row">
      <div class="col-md-4 text-center mb-4">
        <div class="card p-4">
          <div class="mb-3">
            <img src="assets/reparo.jpeg" alt="Instalação e Manutenção" class="img-fluid">
          </div>
          <h4 class="card-title">Instalação e Manutenção</h4>
          <ul class="list-unstyled">
            <li>Instalação de câmaras frigoríficas (painéis de poliuretano, túnel de congelamento).</li>
            <li>Montagem de infraestrutura e unidades condensadoras (resfriado e congelado).</li>
            <li>Manutenção preventiva e corretiva de racks, unidades evaporadoras, compressores (aberto/semi-hermético), chillers e centrais de água gelada.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4">
        <div class="card p-4">
          <div class="mb-3">
            <img src="assets/projeto.jpg" alt="Consultoria, Assessoria e Projeto" class="img-fluid">
          </div>
          <h4 class="card-title">Consultoria, Assessoria e Projetos</h4>
          <ul class="list-unstyled">
            <li>Consultoria, assessoria e supervisão técnica em sistemas de refrigeração e climatização.</li>
            <li>Desenvolvimento de projetos para câmaras frigoríficas.</li>  
            <li>Desenvolvimento de projetos para salas limpas e sistemas de climatização (VRF).</li>           
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4">
        <div class="card p-4">
          <div class="mb-3">
            <img src="assets/manutencao.jpeg" alt="Soluções Personalizadas" class="img-fluid">
          </div>
          <h4 class="card-title">Soluções Personalizadas</h4>
          <ul class="list-unstyled">
            <li>Montagem e instalação de sistemas VRF.</li>
            <li>Manutenção preventiva e corretiva em salas limpas e sistemas VRF.</li>
            <li>Soluções eficientes e sustentáveis, adaptadas às necessidades específicas de cada cliente.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="https://api.whatsapp.com/send/?phone=5584987739886&text&type=phone_number&app_absent=0" target="_blank">
        <button type="button" class="btn btn-outline-light">Solicitar Orçamento</button>
      </a>
    </div>
  </div>
</div>
